.container {
  z-index: -1;
  height: 100%;
  canvas {
    z-index: -1;
  }
}

.camtechBg {
  // background-color: rgb(173, 171, 171);
  background-color: rgb(255, 255, 255);
}

@media (max-aspect-ratio: 1/1) {
.container {
  z-index: -1;
  width: 100%;
  height: 60%;
  aspect-ratio: 4 / 3;
  canvas {
    z-index: -1;
  }
}
 
}

